<div id="<%= dom_id person %>">
  <p>
    <strong>User:</strong>
    <%= person.user_id %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= person.username %>
  </p>

  <p>
    <strong>Manager:</strong>
    <%= person.manager %>
  </p>

</div>
