<div id="<%= dom_id person %>">
  <p>
    <strong>UUID:</strong>
    <%= person.uuid %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= person.username %>
  </p>

  <p>
    <strong>Manager:</strong>
    <%= person.manager %>
  </p>
</div>
