<div class="dropdown position-fixed bottom-0 end-0 mb-3 me-3 bd-mode-toggle">
  <button class="btn btn-outline-dark py-2 dropdown-toggle d-flex align-items-center" id="bd-theme" type="button" aria-expanded="false" data-bs-toggle="dropdown" aria-label="Toggle theme (light)">
    <span class="theme-icon-active"><i class="bi bi-circle-half opacity-50 me-1 theme-icon"></i></span>
    <span class="visually-hidden" id="bd-theme-text">Toggle theme</span>
  </button>
  <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="bd-theme-text">
    <li>
      <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="true">
        <i class="bi bi-sun-fill me-1 theme-icon"></i>
        Light
        <i class="bi bi-check2 ms-auto d-none ms-1"></i>
      </button>
    </li>
    <li>
      <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false">
        <i class="bi bi-moon-fill me-1 theme-icon"></i>
        Dark
        <i class="bi bi-check2 ms-auto d-none ms-1"></i>
      </button>
    </li>
    <li>
      <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="auto" aria-pressed="false">
        <i class="bi bi-circle-half me-1 theme-icon"></i>
        Auto
        <i class="bi bi-check2 ms-auto d-none ms-1"></i>
      </button>
    </li>
  </ul>
</div>
