<header class="d-flex align-items-center pb-3 mb-5 border-bottom">
  <%= link_to root_url, class: "d-flex align-items-center text-body-emphasis text-decoration-none" do %>
    <span class="fs-4"><%= t("app_name") %></span>
  <% end %>
</header>
