<h1 class="text-body-emphasis">Get started with Adventure Money</h1>
<p class="fs-5 col-md-8">Quickly and easily track shared expenses with friends, family and colleagues.</p>
<p class="fs-5 col-md-8"><a href="#">Register</a> or <a href="#">Login</a> to your account to start.</p>
