<h1>Get started with Bootstrap</h1>
<p>Find me in app/views/page/home.html.erb</p>
<code>
  <pre>
    <%= Time.now %>
  </pre>
</code>
<button type="button" 
        class="btn btn-lg btn-danger" 
        data-bs-toggle="popover" 
        title="Popover title" 
        data-bs-content="Amazing content, right ?">
        Click to toggle popover
</button>  
