<div class="mb-sm-4">
  <h2>Categories</h2>
</div>

<form class="mb-2">
  <table class="table table-striped table-hover table-bordered caption-top">
    <caption>Bill categories</caption>
    <thead class="table-light">
      <tr>
        <th class="text-center col-1">Select</th>
        <th>Name</th>
        <th>Paid by</th>
        <th>Shared by</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr>
        <td class="text-center col-1"><input class="form-check-input" type="checkbox" name="category" id="category1" value="eric"></td>
        <th>
          <label class="form-check-label" for="category1">Food</label>
        </th>
        <td><em>Anyone</em></td>
        <td>Rody, Laszlo, Eric</td>
      </tr>
      <tr>
        <td class="text-center col-1"><input class="form-check-input" type="checkbox" name="category" id="category2" value="eric"></td>
        <th>
          <label class="form-check-label" for="category2">Rent</label>
        </th>
        <td><em>Laszlo</em></td>
        <td>Rody, Laszlo, Eric</td>
      </tr>
    </tbody>
  </table>
  <div class="row pt-2 gx-3 align-content-sm-center justify-content-center">
    <div class="col-auto">
      <button class="btn btn-primary" type="button">New</button>
    </div>
    <div class="col-auto">
      <button class="btn btn-outline-primary" type="button">Edit</button>
    </div>
    <div class="col-auto">
      <button class="btn btn-outline-danger" type="button">Delete</button>
    </div>
  </div>
</form>
