<div class="mb-sm-4">
  <h2>Money Owed</h2>
</div>

<form class="mb-2">
  <div class="row gy-2 gx-3 align-content-sm-start">
    <label for="month" class="col-sm-2 col-lg-1 col-form-label">Month</label>
    <div class="col-sm-4 col-md-3 col-lg-2">
      <select id="month" class="form-select" aria-label="Default select example">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>

    <label for="year" class="col-sm-2 col-lg-1 col-form-label">Year</label>
    <div class="col-sm-4 col-md-3 col-lg-2">
      <select id="year" class="form-select" aria-label="Default select example">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
  </div>
</form>
<table class="table table-striped table-hover table-bordered caption-top">
  <caption>Money owed to Lazslo for November 2020</caption>
  <thead class="table-light">
    <tr>
      <th>Name</th>
      <th>Previous balance</th>
      <th>Paid this month</th>
      <th>Shared this month</th>
      <th>Owes</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <tr>
      <th>Eric</th>
      <td>0.00</td>
      <td>0.00</td>
      <td>300.00</td>
      <td>300.00</td>
    </tr>
  </tbody>
</table>
<p>Lazslo is owed <strong>300.00</strong> this month.</p>
