<div class="mb-sm-4">
  <h2>People</h2>
</div>

<form class="mb-2">
  <div class="form-check">
    <input class="form-check-input" type="radio" name="manager" id="person1" value="eric">
    <label class="form-check-label" for="person1">
      Eric
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="manager" id="person2" value="laszlo" checked>
    <label class="form-check-label" for="person2">
      Laszlo <em class="small">(Manager)</em>
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="manager" id="person3" value="rody">
    <label class="form-check-label" for="person3">
      Rody
    </label>
  </div>
  <div class="row pt-2 gx-3 align-content-sm-center justify-content-center">
    <div class="col-auto">
      <button class="btn btn-primary" type="button">Set as manager</button>
    </div>
    <div class="col-auto">
      <button class="btn btn-outline-primary" type="button">Add user</button>
    </div>
    <div class="col-auto">
      <button class="btn btn-outline-danger" type="button" >Remove user</button>
    </div>
  </div>
</form>
