<div class="mb-sm-4">
  <h2>Summary</h2>
</div>

<form class="mb-2">
  <div class="row gy-2 gx-3 align-content-sm-start">
    <label for="month" class="col-md-1 col-lg-1 col-form-label">Person</label>
    <div class="col-md-4 col-lg-3">
      <select id="month" class="form-select" aria-label="Default select example">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>

    <label for="month" class="col-md-1 col-lg-1 col-form-label">Month</label>
    <div class="col-md-2 col-lg-2">
      <select id="month" class="form-select" aria-label="Default select example">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>

    <label for="year" class="col-md-1 col-lg-1 col-form-label">Year</label>
    <div class="col-md-2 col-lg-2">
      <select id="year" class="form-select" aria-label="Default select example">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
  </div>
</form>
<table class="table table-striped table-hover table-bordered caption-top">
  <caption>Summary of payments by Laszlo for November 2022</caption>
  <thead class="table-light">
  <tr>
    <th>Description</th>
    <th>Amount paid</th>
    <th>Amount shared</th>
    <th>Date</th>
    <th>Value</th>
    <th>Paid by</th>
    <th>Shared by</th>
  </tr>
  </thead>
  <tbody class="table-group-divider">
  <tr>
    <th>Rent</th>
    <td>900.00</td>
    <td>300.00</td>
    <td>2022-11-01</td>
    <td>900.00</td>
    <td>Laszlo</td>
    <td>Rody, Eric, Laszlo</td>
  </tr>
  </tbody>
  <tfoot>
    <tr>
      <th>Total</th>
      <th>900.00</th>
      <th>300.00</th>
      <td colspan="4"></td>
    </tr>
  </tfoot>
</table>
